<header>
  <img class="logo" src="../assets/icons/logo used in header.svg" alt="logo" />
  <router-outlet name="route1"></router-outlet>
</header>
<main>
  <!-- <app-login></app-login> -->
  <!-- <app-dashboard></app-dashboard> -->
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="contact">
    <div class="">About</div>
    <div class="">|</div>
    <div class="">Contact Us</div>
  </div>
  <div class="footer">
    <img src="/assets/icons/logo used in footer.svg" alt="logo" />
    <div class="">|</div>
    <div>
      Copyright &copy; 2020-2021
      <strong>Zeus System Pvt.Ltd.</strong> All rights reserved
    </div>
  </div>
</footer>
