/* Importing Fonts */
@font-face {
  font-family: "Quicksand";
  src: url("/assets/Quicksand\ font\ 1/Quicksand-VariableFont_wght.ttf")
    format("truetype");
}

* {
  font-family: "Quicksand";
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.website-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #eeeeee;
}

header {
  height: 56px;
}

main {
  flex: 0;
}

footer {
  margin-top: auto;
}
